@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;700&display=swap");

html,
body {
  color: #0f0e0e;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rubik", sans-serif;
  font-weight: normal;
  margin: 0;
}

header {
  background: #5c946e;
  border-bottom: 3px solid #4f7d5d;
  color: #fbf5f3;
}

header h1 {
  padding: 25px;
}

header h1 span {
  font-family: "EB Garamond", serif;
  font-size: 18px;
  margin-left: 10px;
}

.centered {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(3, 1fr);
  margin: 25px auto;
  width: 75%;
}

button {
  border: 2px solid #5c946e;
  border-radius: 5px;
  background: #4f7d5d;
  color: #fbf5f3;
  cursor: pointer;
  font-weight: bold;
  padding: 10px;
  margin-top: 10px;
}

button:hover {
  border: 2px solid #4f7d5d;
  background: #5c946e;
}

.card {
  border: 3px solid #4f7d5d;
  padding: 25px;
}

.hidden {
  display: none;
  color: #fd9c9c;
}

.answer-holder {
  display: grid;
  grid-template-columns: repeat(2,auto);
  column-gap: 5px;
  row-gap: 10px;
  
}

label {
  border: 2px solid #4f7d5d;
  width: fit-content;
  height: fit-content;
  border-radius: 10px;
  text-align: center;
  padding: 5px;
  grid-column: 1;
}

input[type='radio'] {
  grid-column: 2;
  height: 20px;
  width: 20px;
}